.side-navigation-demo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	max-width: 15rem;
}
.redButton {
    background-color: red;
    color: white; /* Text color */
    /* Add any other styling you need */
}
.fullmodal{
	width:'100%';
}

.customShellBarWithMenu .sapMSBMenuBtn {
    display: inline-block;
}

.customShellBarWithoutMenu .sapMSBMenuBtn {
    display: none;
}

.customShellBar {
    display: inline-block;
}

.invisibleButton .sapMBtnInner {
    background: none;
    border: none;
    box-shadow: none;
	color:red;
    padding: 0;
}
