.side-navigation-demo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	max-width: 15rem;
}
.redButton {
    background-color: red;
    color: white; /* Text color */
    /* Add any other styling you need */
}
.fullmodal{
	width:'100%';
}

.customShellBarWithMenu .sapMSBMenuBtn {
    display: inline-block;
}

.customShellBarWithoutMenu .sapMSBMenuBtn {
    display: none;
}

.customShellBar {
    display: inline-block;
}
.crmStatusOk {
	width: 25px;
	height: 25px;
	background-color: green;
	margin: 5px;
	position: relative;
	margin-right: 0 !important;
	padding: 0 !important;

  }
  .crmStatusNotOk {
	width: 25px;
	height: 25px;
	background-color: red;
	margin: 5px;
	margin-right: 0 !important;
	padding: 0 !important;

	position: relative;
  }
  .crmDefault {
	width: 25px;
	height: 25px;
	background-color: rgb(93, 93, 93);
	margin: 5px;
	margin-right: 0 !important;
	padding: 0 !important;

	position: relative;
  }
  .overlayText {
	position: absolute;
	top: 50%;
	left: 20%;

	color: white;
	font-weight: bold;
	font-size: 12px; /* Adjust the font size as needed */
	width: 100%;
	justify-content: center;
	
	text-align: center;
	line-height: 25px; /* Adjust the line height to match the height of .hasApps */
	white-space: nowrap; /* Prevent text from wrapping to a new line */
  }
  
  .vBoxContainer{
	display: flex;
	justify-content: flex-start;
	margin-right: 0 !important;
    padding: 0 !important;

  }
  .labelSpacing{
	margin-right: 1rem; /* Adjust the spacing as needed */
  }
  .card {
    border-radius: 15px; /* Adjust the border radius as needed */
    background-color: lightblue;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures content within the card stays within the rounded corners */
	justify-content: space-evenly;
}
.cardTable {
	display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
	margin-top: 10px;
}
.table {
	border-radius: 15px; /* Adjust the border radius as needed */
    background-color: rgb(123, 123, 123);

    width: 90%; /* Set width to 90% */
    max-width: 1200px; /* Optional: set a maximum width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures content within the card stays within the rounded corners */
}
.submitButton{
	border-radius: 15px; /* Adjust the border radius as needed */
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.alignItems{
	justify-content: space-evenly;

}